// Variables for Click-point ATOM
$a-click-point--color: $t2-color__white !default;
$a-click-point--background-color: rgba($t2-color__gray-80, .50) !default;
$a-click-point--transition-duration: $t2-animation__transition-duration-vfast !default;
$a-click-point--animation-duration: $t2-animation__animation-duration-fast !default;

// --hover
$a-click-point--hover--color: $t2-color__gray-80 !default;
$a-click-point--hover--background-color: $t2-color__white !default;


// Code for Click-point ATOM
.sd-a-click-point {
  color: $a-click-point--color;
  fill: currentColor;
  stroke: currentColor;
  overflow: visible;
  cursor: pointer;
  outline: none;

  pointer-events: all;

  transition: fill $a-click-point--transition-duration;
  animation: fade-in $a-click-point--animation-duration;
}

// Overwrite BS from old project
.sd-a-click-point:not(:root) {
  overflow: visible;
}

.sd-a-click-point__circle {
  fill: $a-click-point--background-color;
  transition:
    fill $a-click-point--transition-duration,
    transform $a-click-point--transition-duration;
}

// interactions
.sd-a-click-point--is-active,
.sd-a-click-point:focus-visible,
.sd-a-click-point:hover {
  fill: $a-click-point--hover--color;
}

.sd-a-click-point--is-active .sd-a-click-point__circle,
.sd-a-click-point:focus-visible .sd-a-click-point__circle,
.sd-a-click-point:hover .sd-a-click-point__circle {
  fill: $a-click-point--hover--background-color;
  stroke: $a-click-point--hover--background-color;
}

.sd-a-click-point:active .sd-a-click-point__circle {
  @include mq($from: desktop) {
    transform: scale(.85);
  }
}
