// Code for Media query wrapper
.sd-t-media-query-wrapper {
  display: none;
}

$wrapper-displays: block, flex !default;

@each $wrapper-display in $wrapper-displays {
  .sd-t-media-query-wrapper--mobile-#{$wrapper-display} {
    @include mq($until: tablet-small) {
      display: $wrapper-display;
    }
  }

  .sd-t-media-query-wrapper--tablet-small-#{$wrapper-display} {
    @include mq($from: tablet-small, $until: tablet) {
      display: $wrapper-display;
    }
  }

  .sd-t-media-query-wrapper--tablet-#{$wrapper-display} {
    @include mq($from: tablet, $until: desktop) {
      display: $wrapper-display;
    }
  }

  .sd-t-media-query-wrapper--desktop-#{$wrapper-display} {
    @include mq($from: desktop) {
      display: $wrapper-display;
    }
  }
}
