/* ==========================================================================
   #BORDER VARIABLES
   ========================================================================== */

// Radius
$t2-border-radius__s: 2px !default;
$t2-border-radius__m: 3px !default;
$t2-border-radius__l: 4px !default;
$t2-border-radius__xl: 5px !default;
$t2-border-radius__circle: 50% !default;
$t2-border-radius__round: 999em !default;
