/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

/* -------- Context --------
 * These variables can be reused for common occurrences.
 * Make sure to use tier 1 color variables for these!
 */

// -- Action
$t2-color-map-key__action:          secondary;
$t2-color-map-key__action-alt:      secondary;
$t2-color-map-key__action-checkout: primary;
$t2-color-map-key__action-web:      secondary;
$t2-color-map-key__action-nav:      secondary;

// -- Feel
$t2-color__discount: $t1-color__senary;

// -- Menu
$t2-color__menu-background: $t1-ui-color__gray-80;

// -- Video Overlay
$t2-color__video_overlay-accent: #EFBA28;
