/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

// Primary brand color defined as a design token.
$t1-color__primary:          #183147;
$t1-color__primary-light:    #435A72;
$t1-color__primary-dark:     #000820;

// Secondary/alternative brand color defined as a design token.
$t1-color__secondary:        #87A997;
$t1-color__secondary-light:  #B7DBC8;
$t1-color__secondary-dark:   #5A7A69;

// Tertiary/alternative alternative brand color defined as a design token.
$t1-color__tertiary:         #DA4F46;
$t1-color__tertiary-light:   #FF8172;
$t1-color__tertiary-dark:    #A2181E;

// Quaternary/alternative alternative brand color defined as a design token.
$t1-color__quaternary:       #344E3F;
$t1-color__quaternary-light: #5E7A6A;
$t1-color__quaternary-dark:  #0D2619;

// Quinary/alternative alternative brand color defined as a design token.
$t1-color__quinary:          #426A74;
$t1-color__quinary-light:    #6F98A3;
$t1-color__quinary-dark:     #153F49;

// Senary/alternative alternative brand color defined as a design token.
$t1-color__senary:           #FBB91C;
$t1-color__senary-light:     #FFEB57;
$t1-color__senary-dark:      #C38900;
