$m-checkbox__label--minor--font-size: $t2-font-size__body-s !default;
$m-checkbox__label--minor--line-height: 1.6 !default; // 22px line-height for 14px font-size
$m-checkbox__label--line-height: $t2-line-height__l !default;
$m-checkbox--form-element--height: get-spacing(4) !default;
$m-checkbox--form-element--tablet--height: $t2-form-element--height !default;

.sd-m-checkbox {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}

.sd-m-checkbox--form-element {
  height: $m-checkbox--form-element--height;

  @include mq($from: tablet) {
    height: $m-checkbox--form-element--tablet--height;
  }
}

.sd-m-checkbox__input {
  margin-top: get-spacing(0.5);
}

.sd-m-checkbox__label {
  flex-grow: 1;
  padding-left: get-spacing(1);
  line-height: $m-checkbox__label--line-height;
}

.sd-m-checkbox__label--minor {
  font-size: $m-checkbox__label--minor--font-size;
  line-height: $m-checkbox__label--minor--line-height;
}

// vertically align: center
.sd-m-checkbox--center {
  align-items: center;
}
.sd-m-checkbox--center .sd-m-checkbox__input  {
  margin: 0;
}