/* ==========================================================================
   #ICONS
   ========================================================================== */

/* -------- Info --------
 * So you want to add a new icon?
 * Follow the readme file in the Icon atom:
 * tepsi/src/components/05-atoms/icon/README.md
 */

// Fontello
$t1-icons__map: (
  close: '\e800',
  heart: '\e801',
  globe: '\e802',
  cart: '\e803',
  truck: '\e804',
  magnify: '\e805',
  linkedin-box: '\e806',
  pinterest-box: '\e807',
  twitter-box: '\e808',
  instagram: '\e809',
  tag: '\e831',
  google-plus-box: '\e80a',
  facebook-box: '\e80b',
  map-marker: '\e83b',
  eye-off: '\e80d',
  filter: '\e80e',
  pencil: '\e80f',
  play-circle: '\e810',
  play-circled2: '\e82e',
  check: '\e811',
  check-box: '\832',
  view-list: '\e812',
  magnify-plus-outline: '\e813',
  magnify-minus-outline: '\e814',
  menu: '\e815',
  subdirectory-arrow-right: '\e816',
  chevron-down: '\e817',
  chevron-up: '\e818',
  chevron-right: '\e819',
  chevron-left: '\e81a',
  arrow-top-right: '\e81b',
  arrow-top-left: '\e81c',
  arrow-left: '\e81d',
  star: '\e81e',
  store: '\e81f',
  calendar-text-outline: '\e820',
  email: '\e821',
  information-outline: '\e822',
  phone: '\e823',
  account-multiple: '\e824',
  message: '\e825',
  heart-empty: '\e826',
  plus: '\e827',
  minus: '\e82f',
  eye-outline: '\e828',
  amazon:'\e829',
  exclamation-circle-solid: '\e82a',
  exclamation-triangle-solid: '\e82b',
  user-solid: '\e82c',
  user-check-solid: '\e82d',
  left:'\f177',
  right: '\f178',
  female: '\e854',
  male: '\e855',
  bell-solid: '\e859',
  cookie-bite-solid: '\e8a6',
  unisex: '\e80c',
  girl: '\e89b',
  boy: '\ed98',
  junior: '\e83d',
  arrow-right: '\e833',
  book: '\e89e',
  t-shirt-solid: '\e835',
  fit-finder: '\e874',
  trash: '\e872',
  redo-solid: '\e873',
  credit-card: '\e830',
  truck-reverse: '\e8b2',
  gift: '\e836',
  gift-solid: '\e83a',
  light_bulb: '\e877',
  ticket: '\e834',
  location: '\f031',
  home: '\e837',
  circle: '\f111',
  commerical-building: '\e838',
  credit-card-cvc: '\e87a',
  download: '\e839',
  leaf: '\e8b9',
) !default;
