/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */

// Primary brand color defined as a design token.
$t1-color__primary:          #4C8E0A; 
$t1-color__primary-light:    #7EBF43; 
$t1-color__primary-dark:     #156000; 

// Secondary/alternative brand color defined as a design token.
$t1-color__secondary:        #5781B5;
$t1-color__secondary-light:  #89B0E7;
$t1-color__secondary-dark:   #225585;

// Tertiary/alternative alternative brand color defined as a design token.
$t1-color__tertiary:         #FDBE04;
$t1-color__tertiary-light:   #FFB743;
$t1-color__tertiary-dark:    #C58E00;

// Quaternary/alternative alternative brand color defined as a design token.
$t1-color__quaternary:       #F18700;  
$t1-color__quaternary-light: #FFB743; 
$t1-color__quaternary-dark:  #B85900; 

// Quinary/alternative alternative brand color defined as a design token.
$t1-color__quinary:          #51B0CB;
$t1-color__quinary-light:    #87E2FE;
$t1-color__quinary-dark:     #01809A;

// Senary/alternative alternative brand color defined as a design token.
$t1-color__senary:           #C52637;
$t1-color__senary-light:     #FE5E61;
$t1-color__senary-dark:      #8D0012;
