$m-steps--before--background: $t2-color__gray-30 !default;
$m-steps--before--height: get-spacing(min) !default;

$m-step__number--background: $t2-color__gray-30 !default;
$m-step__number--passed--background: $t2-color__white !default;
$m-step__number--active--background: get-brand-color($t2-color-map-key__action-checkout) !default;
$m-step__number--border: thin solid $m-step__number--background !default;
$m-step__number--active--border-color: $m-step__number--active--background !default;
$m-step__number--passed--border-color: $m-step__number--active--background !default;
$m-step__number--font-map: $t2-font-map__body-emp !default;
$m-step__number--color: $t2-color__white !default;
$m-step__number--passed--color: get-brand-color($t2-color-map-key__action-checkout) !default;
$m-step__number--border-radius: $t2-border-radius__round !default;
$m-step__number--font-size: $t2-font-size__body-m !default;
$m-step__number--margin-right: get-spacing(1.5) !default;
$m-step__number--size: get-spacing(4) !default;

$m-step--background-color: $t2-color__white !default;
$m-step--padding: get-spacing(2) !default;
$m-step--mobile--padding: get-spacing(0.5) !default;

$m-step__content--color: $t2-color__gray-100 !default;
$m-step__content--font-map: $t2-font-map__heading !default;
$m-step__content--font-size: $t2-font-size__body-l !default;


.as-m-steps {
  position: relative;
}

.as-m-steps__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.as-m-steps::before {
  position: absolute;
  content: '';
  width: 100%;
  height: $m-steps--before--height;
  background-color: $m-steps--before--background;

  @include align-to-center;
}

.as-m-step__number {
  background: $m-step__number--background;
  color: $m-step__number--color;
  border-radius: $m-step__number--border-radius;
  width: $m-step__number--size;
  height: $m-step__number--size;
  border: $m-step__number--border;
  font-size: $m-step__number--font-size;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include font-map($m-step__number--font-map);

  @include mq($from: tablet) {
    margin-right: $m-step__number--margin-right;
  }
}

.as-m-step--active .as-m-step__number {
  background: $m-step__number--active--background;
  border-color: $m-step__number--active--border-color;
}

.as-m-step--passed .as-m-step__number {
  background: $m-step__number--passed--background;
  border-color: $m-step__number--passed--border-color;
  color: $m-step__number--passed--color;
}

.as-m-step {
  display: flex;
  align-items: center;
  background-color: $m-step--background-color;
  position: relative;
}

.as-m-step:not(:last-child) {
  padding-right: $m-step--mobile--padding;

  @include mq($from: tablet) {
    padding-right: $m-step--padding;
  }
}

.as-m-step:not(:first-child) {
  padding-left: $m-step--mobile--padding;

  @include mq($from: tablet) {
    padding-left: $m-step--padding;
  }
}

.as-m-step__content {
  font-size: $m-step__content--font-size;
  color: $m-step__content--color;
  line-height: 1;

  @include font-map($m-step__content--font-map);

  @include mq($until: tablet) {
    display: none;
  }
}
