/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
// Primary brand color defined as a design token.
$t1-color__primary:          #D26C00;
$t1-color__primary-light:    #F88E1E;
$t1-color__primary-dark:     #9E5201;

// Secondary/alternative brand color defined as a design token.
$t1-color__secondary:        #94A1A6;
$t1-color__secondary-light:  #E0E2E4;
$t1-color__secondary-dark:   #3C4345;

// Tertiary/alternative alternative brand color defined as a design token.
$t1-color__tertiary:         #5F696B;
$t1-color__tertiary-light:   #859396;
$t1-color__tertiary-dark:    #343A3C;

// Quaternary/alternative alternative brand color defined as a design token.
$t1-color__quaternary:       #B41E09;
$t1-color__quaternary-light: #F2270A;
$t1-color__quaternary-dark:  #7B1406;

// Quinary/alternative alternative brand color defined as a design token.
$t1-color__quinary:          #70B765;
$t1-color__quinary-light:    #A1EA94;
$t1-color__quinary-dark:     #408739;
