/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
// Primary brand color defined as a design token.
$t1-color__primary:         #E4003A;
$t1-color__primary-light-60:   #EA3F6B;
$t1-color__primary-light-40:   #F17F9C;
$t1-color__primary-light-20:   #F8BFCD;
$t1-color__primary-dark-140:    #8C0024;
$t1-color__primary-dark-120:    #BF0031;

// Secondary/alternative brand color defined as a design token.
$t1-color__secondary:        #870B58;
$t1-color__secondary-light-60:  #A54881;
$t1-color__secondary-light-40:  #C385AB;
$t1-color__secondary-light-20:  #E1C2D5;
$t1-color__secondary-dark-140:   #520234;
$t1-color__secondary-dark-120:   #740048;

// Tertiary/alternative alternative brand color defined as a design token.
$t1-color__tertiary:           #E94E0F;
$t1-color__tertiary-light-60:  #EE7A4B;
$t1-color__tertiary-light-40:  #F3A687;
$t1-color__tertiary-light-20:  #F9D2C3;
$t1-color__tertiary-dark-140:  #982D01;
$t1-color__tertiary-dark-120:  #CC3D03;

// Quaternary/alternative alternative brand color defined as a design token.
$t1-color__quaternary:       #F8AD07;
$t1-color__quaternary-light-60: #F9C145;
$t1-color__quaternary-light-40: #FBD683;
$t1-color__quaternary-light-20: #FDEAC1;
$t1-color__quaternary-dark-140:  #E97A14;
$t1-color__quaternary-dark-120:  #F29100;

