@keyframes button-finisher {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes button-finisher-content {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
