@keyframes slide-horizontal {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-horizontal-end {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-horizontal-reverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-horizontal-reverse-end {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
