/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
// Primary brand color defined as a design token.
$t1-color__primary:           #000 !default;
$t1-color__primary-light-60:  #000 !default;
$t1-color__primary-light-40:  #000 !default;
$t1-color__primary-light-20:  #000 !default;
$t1-color__primary-dark-140:  #000 !default;
$t1-color__primary-dark-120:  #000 !default;

// Secondary/alternative brand color defined as a design token.
$t1-color__secondary:        #000 !default;
$t1-color__secondary-light-60:  #000 !default;
$t1-color__secondary-light-40:  #000 !default;
$t1-color__secondary-light-20:  #000 !default;
$t1-color__secondary-dark-140:   #000 !default;
$t1-color__secondary-dark-120:   #000 !default;

// Tertiary/alternative alternative brand color defined as a design token.
$t1-color__tertiary:         #000 !default;
$t1-color__tertiary-light-60:   #000 !default;
$t1-color__tertiary-light-40:   #000 !default;
$t1-color__tertiary-light-20:   #000 !default;
$t1-color__tertiary-dark-140:    #000 !default;
$t1-color__tertiary-dark-120:    #000 !default;

// Quaternary/alternative alternative brand color defined as a design token.
$t1-color__quaternary:       #000 !default;
$t1-color__quaternary-light-60: #000 !default;
$t1-color__quaternary-light-40: #000 !default;
$t1-color__quaternary-light-20: #000 !default;
$t1-color__quaternary-dark-140:  #000 !default;
$t1-color__quaternary-dark-120:  #000 !default;