/* ==========================================================================
   #BRAND COLORS
   ========================================================================== */

// Primary brand color defined as a design token.
$t1-color__primary:          #000  !default;
$t1-color__primary-light:    #000  !default;
$t1-color__primary-dark:     #000  !default;

// Secondary/alternative brand color defined as a design token.
$t1-color__secondary:        #000  !default;
$t1-color__secondary-light:  #000  !default;
$t1-color__secondary-dark:   #000  !default;

// Tertiary/alternative brand color defined as a design token.
$t1-color__tertiary:         #000  !default;
$t1-color__tertiary-light:   #000  !default;
$t1-color__tertiary-dark:    #000  !default;

// Quaternary/alternative brand color defined as a design token.
$t1-color__quaternary:       #000  !default;
$t1-color__quaternary-light: #000  !default;
$t1-color__quaternary-dark:  #000  !default;

// Quinary/alternative brand color defined as a design token.
$t1-color__quinary:          #000  !default;
$t1-color__quinary-light:    #000  !default;
$t1-color__quinary-dark:     #000  !default;

// Senary/alternative brand color defined as a design token.
$t1-color__senary:           #000  !default;
$t1-color__senary-light:     #000  !default;
$t1-color__senary-dark:      #000  !default;

// Septenary/alternative brand color defined as a design token.
$t1-color__septenary:        #000  !default;
$t1-color__septenary-light:  #000  !default;
$t1-color__septenary-dark:   #000  !default;
