/* ==========================================================================
   #UI COLORS
   ========================================================================== */

/* ------------ INFO ------------
 * No !default flag,
 * these colors are the same for all fascias
 **/

// ------------ Grays ------------
$t1-color__white:    #FFF;
$t1-color__gray-10:  #F7F7F7;
$t1-color__gray-20:  #DDD;
$t1-color__gray-30:  #C6C6C6;
$t1-color__gray-40:  #A8A8A8;
$t1-color__gray-50:  #8A8A8A;
$t1-color__gray-60:  #666;
$t1-color__gray-70:  #525252;
$t1-color__gray-80:  #434343;
$t1-color__gray-90:  #262626;
$t1-color__gray-100: #151515;
$t1-color__black:    #000;

// ------------ Danger ------------
$t1-color__danger:         #FF005C;
$t1-color__danger-140:   #980037;
$t1-color__danger-120:   #CB0049;
$t1-color__danger-80:   #FF337C;
$t1-color__danger-60:   #FF669D;
$t1-color__danger-40:   #FF99BD;
$t1-color__danger-20:   #FFCCDE; 

// ------------ Warning------------
$t1-color__warning:         #FFC700;
$t1-color__warning-140:   #987700;
$t1-color__warning-120:   #CB9F00;
$t1-color__warning-80:   #FFD233;
$t1-color__warning-60:   #FFDD66;
$t1-color__warning-40:   #FFE899;
$t1-color__warning-20:   #FFF3CC; 

// ------------ Success------------
$t1-color__success:         #21BC5F;
$t1-color__success-140:   #137038;
$t1-color__success-120:   #1A964B;
$t1-color__success-80:   #4DC97F;
$t1-color__success-60:   #79D69F;
$t1-color__success-40:   #A6E4BF;
$t1-color__success-20:   #D2F1DF; 

// ------------ Info------------
$t1-color__info:         #415FCA;
$t1-color__info-140:   #263879;
$t1-color__info-120:   #334BA1;
$t1-color__info-80:   #677FD4;
$t1-color__info-60:   #8D9FDF;
$t1-color__info-40:   #B3BFE9;
$t1-color__info-20:   #D9DFF4; 

// ------------ Red ------------
$t1-color__red:         #E4003A;
$t1-color__red-light:   #EA3F6B;
$t1-color__red-dark:    #BF0031;

// ------------ Green ------------
$t1-color__green:       #00BF00;
$t1-color__green-light: #77EA66;
$t1-color__green-dark:  #008D00;

// ------------ Blue ------------
$t1-color__blue:        #005BC6;
$t1-color__blue-light:  #5B87FA;
$t1-color__blue-dark:   #003394;

// ------------ Orange ------------
$t1-color__orange:       #BF4B0E;
$t1-color__orange-light: #E86826;
$t1-color__orange-dark:  #B0440B;

