/* ==========================================================================
   #UI COLORS
   ========================================================================== */

/* ------------ INFO ------------
 * No !default flag,
 * these colors are the same for all fascias
 **/

// ------------ Grays for text / tuna gray range ------------
$t1-text-color__white:    #FFF;
$t1-text-color__gray-5:   #F9F9F9;
$t1-text-color__gray-10:  #E9EAED;
$t1-text-color__gray-20:  #D4D6DB;
$t1-text-color__gray-40:  #AAAEB8;
$t1-text-color__gray-60:  #7F8594;
$t1-text-color__gray-80:  #555D71;
$t1-text-color__gray-100: #303642;
$t1-text-color__black:    #000;

// ------------ Grays for ui elements / slate gray range ------------
$t1-ui-color__white:    #FFF;
$t1-ui-color__gray-5:   #F8F9FB;
$t1-ui-color__gray-10:  #F1F4F8;
$t1-ui-color__gray-20:  #E3E6EF;
$t1-ui-color__gray-40:  #C8CDD9;
$t1-ui-color__gray-60:  #ADB4C6;
$t1-ui-color__gray-80:  #929BB3;
$t1-ui-color__gray-100: #7783A0;
$t1-ui-color__black:    #000;

// ------------ Danger ------------
$t1-color__danger:         #FF005C;
$t1-color__danger-140:   #980037;
$t1-color__danger-120:   #CB0049;
$t1-color__danger-80:   #FF337C;
$t1-color__danger-60:   #FF669D;
$t1-color__danger-40:   #FF99BD;
$t1-color__danger-20:   #FFCCDE; 

// ------------ Warning------------
$t1-color__warning:         #FFC700;
$t1-color__warning-140:   #987700;
$t1-color__warning-120:   #CB9F00;
$t1-color__warning-80:   #FFD233;
$t1-color__warning-60:   #FFDD66;
$t1-color__warning-40:   #FFE899;
$t1-color__warning-20:   #FFF3CC; 

// ------------ Success------------
$t1-color__success:         #21BC5F;
$t1-color__success-140:   #137038;
$t1-color__success-120:   #1A964B;
$t1-color__success-80:   #4DC97F;
$t1-color__success-60:   #79D69F;
$t1-color__success-40:   #A6E4BF;
$t1-color__success-20:   #D2F1DF; 

// ------------ Info------------
$t1-color__info:         #415FCA;
$t1-color__info-140:   #263879;
$t1-color__info-120:   #334BA1;
$t1-color__info-80:   #677FD4;
$t1-color__info-60:   #8D9FDF;
$t1-color__info-40:   #B3BFE9;
$t1-color__info-20:   #D9DFF4; 
