/* ==========================================================================
   #UI COLORS
   ========================================================================== */

/* ------------ INFO ------------
 * No !default flag,
 * these colors are the same for all fascias
 **/

// ------------ Grays ------------
$t1-color__white:    #FFF;
$t1-color__gray-10:  #F7F7F7;
$t1-color__gray-20:  #DDD;
$t1-color__gray-30:  #C6C6C6;
$t1-color__gray-40:  #A8A8A8;
$t1-color__gray-50:  #8A8A8A;
$t1-color__gray-60:  #666;
$t1-color__gray-70:  #525252;
$t1-color__gray-80:  #434343;
$t1-color__gray-90:  #262626;
$t1-color__gray-100: #151515;
$t1-color__black:    #000;

// ------------ Red ------------
$t1-color__red:         #E50B0B;
$t1-color__red-light:   #FF5E42;
$t1-color__red-dark:    #A00;

// ------------ Green ------------
$t1-color__green:       #00BF00;
$t1-color__green-light: #77EA66;
$t1-color__green-dark:  #008D00;

// ------------ Blue ------------
$t1-color__blue:        #005BC6;
$t1-color__blue-light:  #5B87FA;
$t1-color__blue-dark:   #003394;

// ------------ Orange ------------
$t1-color__orange:       #BF4B0E;
$t1-color__orange-light: #E86826;
$t1-color__orange-dark:  #B0440B;

