/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */

// Font-maps
$t1-font-map__main: (
  family: 'Arial',
  fallback: sans-serif,
  weight: 400,
  style: normal,
  letter-spacing: normal,
  text-transform: none
);

$t1-font-map__second: (
  family: 'Arial',
  fallback: sans-serif,
  weight: 600,
  style: normal,
  letter-spacing: normal,
  text-transform: none
);

$t1-font-map__third: (
  family: 'GT-Pressura-Bold',
  fallback: sans-serif,
  weight: 600,
  style: normal,
  letter-spacing: normal,
  text-transform: none
);
