/* ==========================================================================
   #COLOR-MAPS
   ========================================================================== */

/* ------------ Brand color maps ------------
 * SCSS maps for the brand colors
 * Do not change or overwrite on brand level, instead change or overwrite the tier 1 variables!
 */

$t2-color-map__primary: (
  regular: $t1-color__primary,
  light:   $t1-color__primary-light,
  dark:    $t1-color__primary-dark
);

$t2-color-map__secondary: (
  regular: $t1-color__secondary,
  light:   $t1-color__secondary-light,
  dark:    $t1-color__secondary-dark
);

$t2-color-map__tertiary: (
  regular: $t1-color__tertiary,
  light:   $t1-color__tertiary-light,
  dark:    $t1-color__tertiary-dark
);

$t2-color-map__quaternary: (
  regular: $t1-color__quaternary,
  light:   $t1-color__quaternary-light,
  dark:    $t1-color__quaternary-dark
);

$t2-color-map__quinary: (
  regular: $t1-color__quinary,
  light:   $t1-color__quinary-light,
  dark:    $t1-color__quinary-dark
);

$t2-color-map__senary: (
  regular: $t1-color__senary,
  light:   $t1-color__senary-light,
  dark:    $t1-color__senary-dark
);

$t2-color-map__septenary: (
  regular: $t1-color__septenary,
  light:   $t1-color__septenary-light,
  dark:    $t1-color__septenary-dark
);

$t2-color-map__brand: (
  primary:    $t2-color-map__primary,
  secondary:  $t2-color-map__secondary,
  tertiary:   $t2-color-map__tertiary,
  quaternary: $t2-color-map__quaternary,
  quinary:    $t2-color-map__quinary,
  senary:     $t2-color-map__senary,
  septenary:  $t2-color-map__septenary
);


/* ------------ UI color maps ------------
 * SCSS maps for the UI colors
 * Do not change or overwrite on brand level!
 */
 $t2-color-map__danger: (
  regular: $t1-color__danger,
  light-80:   $t1-color__danger-80,
  light-60:   $t1-color__danger-60,
  light-40:   $t1-color__danger-40,
  light-20:   $t1-color__danger-20,
  dark-120:    $t1-color__danger-120,
  dark-140:    $t1-color__danger-120
); 

$t2-color-map__warning: (
  regular: $t1-color__warning,
  light-80:   $t1-color__warning-80,
  light-60:   $t1-color__warning-60,
  light-40:   $t1-color__warning-40,
  light-20:   $t1-color__warning-20,
  dark-120:    $t1-color__warning-120,
  dark-140:    $t1-color__warning-120
); 

$t2-color-map__success: (
  regular: $t1-color__success,
  light-80:   $t1-color__success-80,
  light-60:   $t1-color__success-60,
  light-40:   $t1-color__success-40,
  light-20:   $t1-color__success-20,
  dark-120:    $t1-color__success-120,
  dark-140:    $t1-color__success-120
); 

$t2-color-map__info: (
  regular: $t1-color__info,
  light-80:   $t1-color__info-80,
  light-60:   $t1-color__info-60,
  light-40:   $t1-color__info-40,
  light-20:   $t1-color__info-20,
  dark-120:    $t1-color__info-120,
  dark-140:    $t1-color__info-120
); 

$t2-color-map__ui: (
  info: $t2-color-map__info,
  success: $t2-color-map__success,
  danger: $t2-color-map__danger,
  warning: $t2-color-map__warning,
);

