$m-table--striped--primary--background-color: $t2-color__gray-10 !default;
$m-table--striped--secondary--background-color: $t2-color__white !default;

// Variant - stock availability
$m-table--stock-availability__cell--height: 44px !default;
$m-table--stock-availability__cell--min-width: get-spacing(8) !default;

$m-table__tr--hover--background-color: $t2-color__link-hover-bg !default;

// Mobile Friendly
$m-table--mobile-friendly--td--before--font-size: $t2-font-size__body-m !default;
$m-table--mobile-friendly--td--before--line-height: $t2-line-height__m !default;
$m-table--mobile-friendly__td__td--margin-top: get-spacing(2) !default;
$m-table--mobile-friendly__tr--border-top: get-spacing(min) solid $t2-color__fade-dark-15 !default;
$m-table--mobile-friendly__tr--first-child--mobile--margin-top: get-spacing(2) !default;
$m-table--mobile-friendly__td--padding: get-spacing(2) !default;
$m-table--mobile-friendly__td--min-width: get-spacing(8) !default;
$m-table--mobile-friendly__thead__th--padding: 0 get-spacing(2) get-spacing(1.5) 0 !default;
$m-table--mobile-friendly__tbody__td--tablet--padding-right: get-spacing(2) !default;

$m-table--fixed-first-column--background-color: $t2-color__white !default;
$m-table--fixed-first-column--pseudo-el--width: get-spacing(1) !default;
$m-table--fixed-first-column--pseudo-el--background: linear-gradient(90deg, rgba($t2-color__black, 0.04) 0%, rgba($t2-color__black, 0) 100%) !default;

.as-m-table {
  width: 100%;
  border: 0;
  border-collapse: collapse;

  td {
    padding: 0;
  }
  
  th,
  td {
    width: auto;
    white-space: nowrap;
    word-break: break-word;
  }
}

.as-m-table--wrap-text {
  th, td {
    white-space: normal;
  }
}

.as-m-table--striped thead tr {
  background-color: $m-table--striped--primary--background-color;
}

.as-m-table--with-hover {
  tbody tr:hover {
    background: $m-table__tr--hover--background-color;
  } 
}

.as-m-table--striped {
  tbody tr:nth-of-type(odd) {
    background-color: $m-table--striped--primary--background-color;
  }

  tbody tr:nth-of-type(even) {
    background-color: $m-table--striped--secondary--background-color;
  }

  thead + tbody tr:nth-of-type(odd) {
    background-color: $m-table--striped--secondary--background-color;
  }

  thead + tbody tr:nth-of-type(even) {
    background-color: $m-table--striped--primary--background-color;
  }
}

.as-m-table--fixed {
  table-layout: fixed;

  th,
  td,
  th *,
  td * {
    @include text-truncate;
  }
}

.as-m-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.as-m-table--stock-availability {
  th,
  td {
    height: $m-table--stock-availability__cell--height;
    min-width: $m-table--stock-availability__cell--min-width;
    padding: 0;
  }
}

.as-m-table__row--highlighted {
  background: $m-table__tr--hover--background-color;
}

.as-m-table--align-left th,
.as-m-table--align-left td {
  text-align: left;
}

.as-m-table--align-center th,
.as-m-table--align-center td {
  text-align: center;
}

.as-m-table--align-right th,
.as-m-table--align-right td {
  text-align: right;
}

.as-m-table--vertical-align-top th,
.as-m-table--vertical-align-top td {
  vertical-align: top;
}

.as-m-table--vertical-align-middle th,
.as-m-table--vertical-align-middle td {
  vertical-align: middle;
}

.as-m-table--vertical-align-bottom th,
.as-m-table--vertical-align-bottom td {
  vertical-align: bottom;
}

.as-m-table--mobile-friendly {
  th,
  td {
    width: auto;
    white-space: normal;
    min-width: $m-table--mobile-friendly__td--min-width;
  }

  thead th {
    padding: $m-table--mobile-friendly__thead__th--padding;
  }

  tbody td {
    @include mq($from: tablet) {
      padding-right: $m-table--mobile-friendly__tbody__td--tablet--padding-right;
    }
  }

  @include mq($until: tablet) {
    thead {
      @include sr-only;
    }

    tr {
      border-top: $m-table--mobile-friendly__tr--border-top;
      display: block;
    }

    tr:first-child {
      margin-top: $m-table--mobile-friendly__tr--first-child--mobile--margin-top;
    }

    td {
      display: block;
      white-space: normal;
    }

    td + td {
      margin-top: $m-table--mobile-friendly__td__td--margin-top;
    }

    td:first-child {
      padding-top: $m-table--mobile-friendly__td--padding;
    }

    td:last-child {
      padding-bottom: $m-table--mobile-friendly__td--padding;
    }

    td::before {
      display: block;
      content: attr(data-label);
      font-size: $m-table--mobile-friendly--td--before--font-size;
      line-height: $m-table--mobile-friendly--td--before--line-height;

      @include font-map(
        $map: $t2-font-map__body-emp,
      );
    }
  }
}

.as-m-table--first-column--align-left {
  th:first-child,
  td:first-child {
    text-align: left;
  }
}

.as-m-table--first-column--align-center {
  th:first-child,
  td:first-child {
    text-align: center;
  }
}

.as-m-table--first-column--align-right {
  th:first-child,
  td:first-child {
    text-align: right;
  }
}

.as-m-table-responsive--hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.as-m-table.as-m-table--fixed-first-column {
  th,
  td {
    padding: 0;
  }

  thead tr th:first-child,
  tbody tr td:first-child {
    position: sticky;
    left: 0;
    background-color: $m-table--fixed-first-column--background-color;
  }
}

.as-m-table-responsive--scrolled .as-m-table--fixed-first-column {
  thead tr th:first-child,
  tbody tr td:first-child {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: $m-table--fixed-first-column--pseudo-el--width;
      transform: translateX(100%);
      pointer-events: none;
      background: $m-table--fixed-first-column--pseudo-el--background;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: none;
      }
    }
  }
}

.as-m-table--fixed-first-column.as-m-table--striped {
  thead tr th:first-child,
  tbody tr td:first-child {
    background-color: $m-table--striped--primary--background-color;
  }

  tbody tr:nth-of-type(odd) td:first-child {
    background-color: $m-table--striped--secondary--background-color;
  }
}
