$m-light-box-main-pagination--height: 88px !default;
$m-light-box-main-pagination--marginX: get-spacing(8) !default;

.as-m-light-box-main-pagination {
  height: $m-light-box-main-pagination--height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  @include mq($from: tablet) {
    display: none;
  }
}

.as-m-light-box-main-pagination .as-m-light-box-main-pagination__button--prev {
  margin-left: $m-light-box-main-pagination--marginX;
}
.as-m-light-box-main-pagination .as-m-light-box-main-pagination__button--next {
  margin-right: $m-light-box-main-pagination--marginX;
}