$o-top-bar-nav-link__item--height: 56px !default; // FIXME: pixel value
$o-top-bar-nav-link__item--border-bottom: $t2-color__gray-30 !default;
$o-top-bar-nav-link__item--hover--color: $t2-color__foreground !default;
$o-top-bar-nav-link__item--hover--background-color: $t2-color__background !default;
$o-top-bar-nav-link__item--margin-right: get-spacing(3.5);
$o-top-bar--mobile-size--width: 44px !default; // FIXME: pixel value
$o-top-bar--mobile-size--height: 44px !default; // FIXME: pixel value
$m-top-bar-nav-link--height: get-spacing(8) !default;

.sd-m-top-bar-nav-link {
  display: flex;
  align-items: center;

  @include mq($until: desktop) {
    height: $m-top-bar-nav-link--height;
    box-sizing: border-box;
  }

  @include mq($from: desktop) {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    position: relative;
    top: 0;
    left: 0;
  }
}

.sd-m-top-bar-nav-link__item {
  display:  flex;
  justify-content: center;
  align-items: center;
  height: $o-top-bar-nav-link__item--height;
  border-bottom: thin solid $o-top-bar-nav-link__item--border-bottom;

  &:hover {
    color: $o-top-bar-nav-link__item--hover--color;
  }

  @include mq($from: desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0;
  }
}

.sd-m-top-bar-nav-link__item--margin-right {
  @include mq($from: desktop) {
    margin-right: $o-top-bar-nav-link__item--margin-right;
  }
}

.sd-m-top-bar--mobile-size {
  width: $o-top-bar--mobile-size--width;
  height: $o-top-bar--mobile-size--height;
  border-bottom: none;

  @include mq($from: desktop) {
    width: auto;
    height: auto;
  }
}
