.storybook-style-color-tile {
  width: 300px;
  display: block;
  margin-bottom: 1rem;
}
.storybook-style-color-tile--row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.storybook-style-color-tile__item {
  width: 300px;
  height: 300px;
  display: inline-block;
  position: relative;
}

.storybook-style-color-tile__item::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
  background: rgba(0,0,0, 0.4);
  color: white;
  text-align: center;
}
.storybook-style-color-tile__item--small {
  width: 75px;
  height: 75px;
}

.storybook-style-color-tile__item--color-primary {
  background: $t1-color__primary;
  &::before {
    content: "#{$t1-color__primary}"
  }
}
.storybook-style-color-tile__item--color-primary-light {
  background: $t1-color__primary-light;
  &::before {
    content: "#{$t1-color__primary-light}"
  }
}
.storybook-style-color-tile__item--color-primary-dark {
  background: $t1-color__primary-dark;
  &::before {
    content: "#{$t1-color__primary-dark}"
  }
}

.storybook-style-color-tile__item--color-secondary {
  background: $t1-color__secondary;
  &::before {
    content: "#{$t1-color__secondary}"
  }
}
.storybook-style-color-tile__item--color-secondary-light {
  background: $t1-color__secondary-light;
  &::before {
    content: "#{$t1-color__secondary-light}"
  }
}
.storybook-style-color-tile__item--color-secondary-dark {
  background: $t1-color__secondary-dark;
  &::before {
    content: "#{$t1-color__secondary-dark}"
  }
}

.storybook-style-color-tile__item--color-tertiary {
  background: $t1-color__tertiary;
  &::before {
    content: "#{$t1-color__tertiary}"
  }
}
.storybook-style-color-tile__item--color-tertiary-light {
  background: $t1-color__tertiary-light;
  &::before {
    content: "#{$t1-color__tertiary-light}"
  }
}
.storybook-style-color-tile__item--color-tertiary-dark {
  background: $t1-color__tertiary-dark;
  &::before {
    content: "#{$t1-color__tertiary-dark}"
  }
}

.storybook-style-color-tile__item--color-quaternary {
  background: $t1-color__quaternary;
  &::before {
    content: "#{$t1-color__quaternary}"
  }
}
.storybook-style-color-tile__item--color-quaternary-light {
  background: $t1-color__quaternary-light;
  &::before {
    content: "#{$t1-color__quaternary-light}"
  }
}
.storybook-style-color-tile__item--color-quaternary-dark {
  background: $t1-color__quaternary-dark;
  &::before {
    content: "#{$t1-color__quaternary-dark}"
  }
}

.storybook-style-color-tile__item--color-quinary {
  background: $t1-color__quinary;
  &::before {
    content: "#{$t1-color__quinary}"
  }
}
.storybook-style-color-tile__item--color-quinary-light {
  background: $t1-color__quinary-light;
  &::before {
    content: "#{$t1-color__quinary-light}"
  }
}
.storybook-style-color-tile__item--color-quinary-dark {
  background: $t1-color__quinary-dark;
  &::before {
    content: "#{$t1-color__quinary-dark}"
  }
}

.storybook-style-color-tile__item--color-senary {
  background: $t1-color__senary;
  &::before {
    content: "#{$t1-color__senary}"
  }
}
.storybook-style-color-tile__item--color-senary-light {
  background: $t1-color__senary-light;
  &::before {
    content: "#{$t1-color__senary-light}"
  }
}
.storybook-style-color-tile__item--color-senary-dark {
  background: $t1-color__senary-dark;
  &::before {
    content: "#{$t1-color__senary-dark}"
  }
}

.storybook-style-color-tile__item--color-white {
  background: $t1-color__white;
  &::before {
    content: "#{$t1-color__white}"
  }
}

.storybook-style-color-tile__item--color-gray-light {
  background: $t1-color__gray-10;
  &::before {
    content: "#{$t1-color__gray-10}"
  }
}

.storybook-style-color-tile__item--color-gray-soft {
  background: $t1-color__gray-30;
  &::before {
    content: "#{$t1-color__gray-30}"
  }
}

.storybook-style-color-tile__item--color-gray-hard {
  background: $t1-color__gray-50;
  &::before {
    content: "#{$t1-color__gray-50}"
  }
}

.storybook-style-color-tile__item--color-gray-dark {
  background: $t1-color__gray-80;
  &::before {
    content: "#{$t1-color__gray-80}"
  }
}

.storybook-style-color-tile__item--color-gray-strong-dark {
  background: $t1-color__gray-100;
  &::before {
    content: "#{$t1-color__gray-100}"
  }
}

.storybook-style-color-tile__item--color-black {
  background: $t1-color__black;
  &::before {
    content: "#{$t1-color__black}"
  }
}

.storybook-style-color-tile__item--color-danger-dark-140 {
  background: $t1-color__danger-140;
  &::before {
    content: "#{$t1-color__danger-140}"
  }
}

.storybook-style-color-tile__item--color-danger-dark-120 {
  background: $t1-color__danger-120;
  &::before {
    content: "#{$t1-color__danger-120}"
  }
}

.storybook-style-color-tile__item--color-danger {
  background: $t1-color__danger;
  &::before {
    content: "#{$t1-color__danger}"
  }
}

.storybook-style-color-tile__item--color-danger-light-80 {
  background: $t1-color__danger-80;
  &::before {
    content: "#{$t1-color__danger-80}"
  }
}

.storybook-style-color-tile__item--color-danger-light-60 {
  background: $t1-color__danger-60;
  &::before {
    content: "#{$t1-color__danger-60}"
  }
}

.storybook-style-color-tile__item--color-danger-light-40 {
  background: $t1-color__danger-40;
  &::before {
    content: "#{$t1-color__danger-40}"
  }
}

.storybook-style-color-tile__item--color-danger-light-20 {
  background: $t1-color__danger-20;
  &::before {
    content: "#{$t1-color__danger-20}"
  }
}

.storybook-style-color-tile__item--color-warning-dark-140 {
  background: $t1-color__warning-140;
  &::before {
    content: "#{$t1-color__warning-140}"
  }
}

.storybook-style-color-tile__item--color-warning-dark-120 {
  background: $t1-color__warning-120;
  &::before {
    content: "#{$t1-color__warning-120}"
  }
}

.storybook-style-color-tile__item--color-warning {
  background: $t1-color__warning;
  &::before {
    content: "#{$t1-color__warning}"
  }
}

.storybook-style-color-tile__item--color-warning-light-80 {
  background: $t1-color__warning-80;
  &::before {
    content: "#{$t1-color__warning-80}"
  }
}

.storybook-style-color-tile__item--color-warning-light-60 {
  background: $t1-color__warning-60;
  &::before {
    content: "#{$t1-color__warning-60}"
  }
}

.storybook-style-color-tile__item--color-warning-light-40 {
  background: $t1-color__warning-40;
  &::before {
    content: "#{$t1-color__warning-40}"
  }
}

.storybook-style-color-tile__item--color-warning-light-20 {
  background: $t1-color__warning-20;
  &::before {
    content: "#{$t1-color__warning-20}"
  }
}


.storybook-style-color-tile__item--color-success-dark-140 {
  background: $t1-color__success-140;
  &::before {
    content: "#{$t1-color__success-140}"
  }
}

.storybook-style-color-tile__item--color-success-dark-120 {
  background: $t1-color__success-120;
  &::before {
    content: "#{$t1-color__success-120}"
  }
}

.storybook-style-color-tile__item--color-success {
  background: $t1-color__success;
  &::before {
    content: "#{$t1-color__success}"
  }
}

.storybook-style-color-tile__item--color-success-light-80 {
  background: $t1-color__success-80;
  &::before {
    content: "#{$t1-color__success-80}"
  }
}

.storybook-style-color-tile__item--color-success-light-60 {
  background: $t1-color__success-60;
  &::before {
    content: "#{$t1-color__success-60}"
  }
}

.storybook-style-color-tile__item--color-success-light-40 {
  background: $t1-color__success-40;
  &::before {
    content: "#{$t1-color__success-40}"
  }
}

.storybook-style-color-tile__item--color-success-light-20 {
  background: $t1-color__success-20;
  &::before {
    content: "#{$t1-color__success-20}"
  }
}

.storybook-style-color-tile__item--color-info-dark-140 {
  background: $t1-color__info-140;
  &::before {
    content: "#{$t1-color__info-140}"
  }
}

.storybook-style-color-tile__item--color-info-dark-120 {
  background: $t1-color__info-120;
  &::before {
    content: "#{$t1-color__info-120}"
  }
}

.storybook-style-color-tile__item--color-info {
  background: $t1-color__info;
  &::before {
    content: "#{$t1-color__info}"
  }
}

.storybook-style-color-tile__item--color-info-light-80 {
  background: $t1-color__info-80;
  &::before {
    content: "#{$t1-color__info-80}"
  }
}

.storybook-style-color-tile__item--color-info-light-60 {
  background: $t1-color__info-60;
  &::before {
    content: "#{$t1-color__info-60}"
  }
}

.storybook-style-color-tile__item--color-info-light-40 {
  background: $t1-color__info-40;
  &::before {
    content: "#{$t1-color__info-40}"
  }
}

.storybook-style-color-tile__item--color-info-light-20 {
  background: $t1-color__info-20;
  &::before {
    content: "#{$t1-color__info-20}"
  }
}
