.storybook-style-color-tile {
  width: 150px;
  display: block;
  margin-bottom: 1rem;
}
.storybook-style-color-tile--row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.storybook-style-color-tile__item {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
}

.storybook-style-color-tile__item::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
  background: rgba(0,0,0, 0.4);
  color: white;
  text-align: center;
}
.storybook-style-color-tile__item--small {
  width: 75px;
  height: 75px;
}

.storybook-style-color-tile__item--color-primary {
  background: $t1-color__primary;
  &::before {
    content: "#{$t1-color__primary}"
  }
}
.storybook-style-color-tile__item--color-primary-light {
  background: $t1-color__primary-light;
  &::before {
    content: "#{$t1-color__primary-light}"
  }
}
.storybook-style-color-tile__item--color-primary-dark {
  background: $t1-color__primary-dark;
  &::before {
    content: "#{$t1-color__primary-dark}"
  }
}

.storybook-style-color-tile__item--color-secondary {
  background: $t1-color__secondary;
  &::before {
    content: "#{$t1-color__secondary}"
  }
}
.storybook-style-color-tile__item--color-secondary-light {
  background: $t1-color__secondary-light;
  &::before {
    content: "#{$t1-color__secondary-light}"
  }
}
.storybook-style-color-tile__item--color-secondary-dark {
  background: $t1-color__secondary-dark;
  &::before {
    content: "#{$t1-color__secondary-dark}"
  }
}

.storybook-style-color-tile__item--color-tertiary {
  background: $t1-color__tertiary;
  &::before {
    content: "#{$t1-color__tertiary}"
  }
}
.storybook-style-color-tile__item--color-tertiary-light {
  background: $t1-color__tertiary-light;
  &::before {
    content: "#{$t1-color__tertiary-light}"
  }
}
.storybook-style-color-tile__item--color-tertiary-dark {
  background: $t1-color__tertiary-dark;
  &::before {
    content: "#{$t1-color__tertiary-dark}"
  }
}

.storybook-style-color-tile__item--color-quaternary {
  background: $t1-color__quaternary;
  &::before {
    content: "#{$t1-color__quaternary}"
  }
}
.storybook-style-color-tile__item--color-quaternary-light {
  background: $t1-color__quaternary-light;
  &::before {
    content: "#{$t1-color__quaternary-light}"
  }
}
.storybook-style-color-tile__item--color-quaternary-dark {
  background: $t1-color__quaternary-dark;
  &::before {
    content: "#{$t1-color__quaternary-dark}"
  }
}

.storybook-style-color-tile__item--color-quinary {
  background: $t1-color__quinary;
  &::before {
    content: "#{$t1-color__quinary}"
  }
}
.storybook-style-color-tile__item--color-quinary-light {
  background: $t1-color__quinary-light;
  &::before {
    content: "#{$t1-color__quinary-light}"
  }
}
.storybook-style-color-tile__item--color-quinary-dark {
  background: $t1-color__quinary-dark;
  &::before {
    content: "#{$t1-color__quinary-dark}"
  }
}

.storybook-style-color-tile__item--color-senary {
  background: $t1-color__senary;
  &::before {
    content: "#{$t1-color__senary}"
  }
}
.storybook-style-color-tile__item--color-senary-light {
  background: $t1-color__senary-light;
  &::before {
    content: "#{$t1-color__senary-light}"
  }
}
.storybook-style-color-tile__item--color-senary-dark {
  background: $t1-color__senary-dark;
  &::before {
    content: "#{$t1-color__senary-dark}"
  }
}

.storybook-style-color-tile__item--color-white {
  background: $t1-color__white;
  &::before {
    content: "#{$t1-color__white}"
  }
}

.storybook-style-color-tile__item--color-gray-light {
  background: $t1-color__gray-10;
  &::before {
    content: "#{$t1-color__gray-10}"
  }
}

.storybook-style-color-tile__item--color-gray-soft {
  background: $t1-color__gray-30;
  &::before {
    content: "#{$t1-color__gray-30}"
  }
}

.storybook-style-color-tile__item--color-gray-hard {
  background: $t1-color__gray-50;
  &::before {
    content: "#{$t1-color__gray-50}"
  }
}

.storybook-style-color-tile__item--color-gray-dark {
  background: $t1-color__gray-80;
  &::before {
    content: "#{$t1-color__gray-80}"
  }
}

.storybook-style-color-tile__item--color-gray-strong-dark {
  background: $t1-color__gray-100;
  &::before {
    content: "#{$t1-color__gray-100}"
  }
}

.storybook-style-color-tile__item--color-black {
  background: $t1-color__black;
  &::before {
    content: "#{$t1-color__black}"
  }
}

.storybook-style-color-tile__item--color-green-light {
  background: $t1-color__green-light;
  &::before {
    content: "#{$t1-color__green-light}"
  }
}

.storybook-style-color-tile__item--color-green {
  background: $t1-color__green;
  &::before {
    content: "#{$t1-color__green}"
  }
}

.storybook-style-color-tile__item--color-green-dark {
  background: $t1-color__green-dark;
  &::before {
    content: "#{$t1-color__green-dark}"
  }
}

.storybook-style-color-tile__item--color-red-light {
  background: $t1-color__red-light;
  &::before {
    content: "#{$t1-color__red-light}"
  }
}

.storybook-style-color-tile__item--color-red {
  background: $t1-color__red;
  &::before {
    content: "#{$t1-color__red}"
  }
}

.storybook-style-color-tile__item--color-red-dark {
  background: $t1-color__red-dark;
  &::before {
    content: "#{$t1-color__red-dark}"
  }
}

.storybook-style-color-tile__item--color-blue-light {
  background: $t1-color__blue-light;
  &::before {
    content: "#{$t1-color__blue-light}"
  }
}

.storybook-style-color-tile__item--color-blue {
  background: $t1-color__blue;
  &::before {
    content: "#{$t1-color__blue}"
  }
}

.storybook-style-color-tile__item--color-blue-dark {
  background: $t1-color__blue-dark;
  &::before {
    content: "#{$t1-color__blue-dark}"
  }
}
